@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*
font-family: 'Khand', sans-serif;
font-family: 'Bahianita', cursive;
font-family: 'Do Hyeon', sans-serif;
*/

body {
    background: transparent !important;
    margin-top:30px;
    font-family: 'Poppins', sans-serif;
}

#cardsDisplay { 
    overflow-y: scroll;
    max-height: 560px;
    max-width:500px;
}


#cardsDisplay::-webkit-scrollbar-track
{
    background-color: none;
    border: none;
}

#cardsDisplay::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(0, 0, 0, 0)
}

#cardsDisplay::-webkit-scrollbar-thumb
 {
    background-color: rgb(0 112 255);
    border: 2px solid rgb(255 255 255)
}

#cardSelector {
    background-color: #0006ff;
    border-radius: 10px;
}

#pinContainer {
    background-color: #0041ff;
    border-radius: 10px;
}

#bankingContainer {
    background: #005fff !important;
    border-radius: 10px;
    min-height:800px;
    max-height:800px;
    display:none;
}

/* atm home screen */
#ATMContainer {
    background: #003cff !important;
    border-radius: 10px;
    min-height:800px;
    max-height:800px;
    display:none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: #003cff;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: #003cff
}

a:hover {
    color: #0082ff;
    text-decoration: underline;
}

.btn-secondary2 {
    color: #fff;
    background-color: #003cff;
    border-color: #003cff;
}

.btn-secondary2:hover {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-secondary2.focus,
.btn-secondary2:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 85 255);
}

.btn-secondary2.disabled,
.btn-secondary2:disabled {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-secondary2:not(:disabled):not(.disabled).active,
.btn-secondary2:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-secondary2:not(:disabled):not(.disabled).active:focus,
.btn-secondary2:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 50 255);
}


.statement:hover {
    background: rgb(0 107 255)important;
}

#v-pills-tabContent, #v-pills-tabContent-atm {
    overflow-y: scroll;
    min-height:100%;
}

#v-pills-tabContent::-webkit-scrollbar-track, #v-pills-tabContent-atm::-webkit-scrollbar-track {
    background-color:transparent;
    border: none;
}

#v-pills-tabContent::-webkit-scrollbar-thumb, #v-pills-tabContent-atm::-webkit-scrollbar-thumb {
    background-color:transparent;
    border:none;
}

#v-pills-tabContent::-webkit-scrollbar, #v-pills-tabContent-atm::-webkit-scrollbar {
    width: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color:transparent;
}

/* Main Buttons*/

.btn-primary {
    color: #ffffff3ff3ff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-primary:hover {
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 124, 51, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #003cff;
  border-color: #ffffff;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #003cff;
  border-color: #ffffff;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 124, 51, 0.5);
}

.btn-secondary {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn-success {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-success:hover {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-success.focus,
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-info {
    color: #ffffff;
    background-color: #003cff;
    border-color: #ffffff;
}
.btn-info:hover {
    color: #171717;
    background-color: #8b8b8b;
    border-color: #8b8b8b;
}

.btn-info.focus,
.btn-info:focus {
    box-shadow: 0 0 0 0.2rem rgba(175, 175, 175, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
    color: #ffffff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(175, 175, 175, 0.5);
}

.btn-warning {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-warning:hover {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}
.btn-warning.focus,
.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.5);
}
.btn-warning.disabled,
.btn-warning:disabled {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.5);
}
.btn-danger {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}
.btn-danger:hover {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}
.btn-danger.focus,
.btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}
.btn-danger.disabled,
.btn-danger:disabled {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #003cff;
    border-color: #ffffff;
}

.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 20, 60, 0.5);
}